<h1>Show Author</h1>

<p>
  <strong>Name:</strong>
  <%= @author.name %>
</p>

<p>
  <strong>Homepage:</strong>
  <%= @author.homepage %>
</p>

<%= link_to 'Edit', edit_author_path(@author) %>
<%= link_to 'All Authors', authors_path %>
